.cartBtn span {
  font-size: 11px;
  background-color: #cc1800;
  border-radius: 30px;
  color: #ffffff;
  text-align: right;
  padding: 0.2rem;
  position: absolute;
}

.cartBtn {
  font-size: 1.5rem;
}

@media screen and (max-width: 960px) {
  .cartBtn {
    margin-right: 9px;
    font-size: 1.9rem;
  }
}
